body {
background-color: #151515;
color: #FF8181;
font-family: 'Playfair Display', serif;

}
.main-container {
    height:100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 90vh 100vh 100vh;
    grid-template-areas:
    "logo brb brb" 
    "mainblock mainblock creativity"
    "projects projects projects";

}
.creativity {
    background-image: url(./anneezero/assets/img/creativity-vector.svg);
    background-size: contain;
    background-repeat: no-repeat;
    /* 
    background-position-y: -100px; */
    grid-area: creativity;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.logo-container {
    grid-area: logo;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.brb {
    grid-area: brb;
    display:flex;
    justify-content: space-around;
    align-items:center;
    font-family: Playfair Display;
    font-weight: 900;
    font-size: 131px;
/*     -webkit-text-stroke: 0.5px rgba(255,129,129,1); */
    color:#151515;
    text-shadow:
    -0.5px -0.5px 0 #fcedd8,
     0   -0.5px 0 #fcedd8,
     0.5px -0.5px 0 #fcedd8,
     0.5px  0   0 #fcedd8,
     0.5px  0.5px 0 #fcedd8,
     0    0.5px 0 #fcedd8,
    -0.5px  0.5px 0 #fcedd8,
    -0.5px  0   0 #fcedd8;
    transition: 1s;
    animation: alternate;

}
.brb:hover{
    -webkit-text-stroke: 0;
    color:#fcedd8;
    text-shadow: 1px 1px 0px #eb452b, 
    3px 3px 0px #efa032, 
    5px 5px 0px #46b59b, 
    7px 7px 0px #017e7f, 
    9px 9px 0px #052939, 
    11px 11px 0px #FF8181, 
    13px 13px 0px #FF8181, 
    15px 15px 0px #FF8181, 
    17px 17px 0px #FF8181;
    transition: 1s;
    animation: alternate;
}
.mainblock {
    grid-area: mainblock;
    display:block;
    place-self: center start;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 150.8%;
    color: #E5E4E9;
    padding:0 2em 0 5em;

}
.mainblock ul{
    list-style: none;
}
#circle { position: relative; width: 100%; padding-bottom: 200px; overflow: visible; }

#circle text {
    font-family: 'Titillium Web', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size:1.7em;
    font-weight:700;
    position: fixed;
    transition: 0.5% ease-out;
    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.6);
    color:rgba(255, 255, 255,0);
    
}

#circle svg { position: absolute; left: 0; top: 0; width: 100%; height: 300px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 8s;
     -moz-animation-duration: 8s;
      -ms-animation-duration: 8s;
       -o-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(0); }
    to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(0); }
    to { -ms-transform: rotate(360deg); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(0); }
    to { -o-transform: rotate(360deg); }
}
@keyframes rotate {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}
.iconify { 
    color: rgb(255,129,129,1);
    margin-bottom:-5px;
    font-size:1.2em;
    transition: 0.4s;
}
.arrow {
    color: rgb(255,129,129,1);
    margin:0px 5px -5px 5px ;
    font-size:1.3em;
    
}

a{
    text-decoration: none;
    color: rgb(255,129,129,1);
    font-weight: bolder;
    transition: 0.4s;
}
a:hover{
    color: rgb(229,228,233,1);
}
.iconify:hover{
    color: rgb(229,228,233,1);
}
.preview { margin-top:-10em; display: none; transition: 0.3s;}
.anneezeropreview{ 
    text-decoration: none;
    color: rgb(255,129,129,1);
    font-weight: bolder;
    transition: 0.4s;}
.anneezeropreview:hover .preview {
    display: inline-block; position: absolute; transition: 0.5s;
}

ul {
line-height: 200%;
}

/* MEDIA QUERIES */


@media screen and (max-width: 768px) {
.main-container{ 
    grid-template-rows: 1fr 3fr 4fr 4fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "brb" 
    "mainblock"
    "creativity"
    "projects";
}
.mainblock {
    display:block;
    font-size: 1.5em;
    padding:2em;
    justify-content: normal;

}
/*.logo{
    display:none;
}*/
.brb{
    width:75vw;
    font-size: 6em;
    padding:0;
    display:block;
    justify-content: normal;
    margin: auto;
}
#circle { position: relative; width: 100%; margin-left: -200px; overflow: visible; }
}

.projects{
    grid-area: projects;
}
.projectslinks{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.projectslinks img{
    margin: 0.6em;
    max-width: 60vw;
    min-width: 15vw;
}
.projectslinks img:hover {
    opacity:0.3;
}
/* figcaption{
	position: relative;	
    top: -50%;
    z-index: 100;
    text-align: center;
    opacity: 0;
    transition: ease-in-out;
} */
.projecth1{
    text-align: center;
}
figure.effect-sarah {
	background: #42b078;
}

figure.effect-sarah img {
/* 	max-width: none; */
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sarah:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah figcaption {
	text-align: left;
}

figure.effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
